@media only screen and (min-device-width : $mq-large){

  .experience .work:nth-of-type(2) .title{
    margin: 0;
  }
}


@media only screen and (min-device-width : $mq-small) and (max-device-width : $mq-large){

  header[role=banner] {
    height: $mq-s-header-height;
   }

  .page {
    padding-top: $mq-s-header-height;
  }

  .page > h2 {
    font-size: 8rem;
    padding: 1rem;
  }

  .col {
    float: none;
    margin: 0 10% 8rem;
    width: 80%;
  }

  .photo-frame {
    height: 42rem;
    padding: 1rem;
  }

  .contact {
    height: auto;
  }

  .contact > .col {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0;
    left: auto;
    padding: 4rem;
    position: static;
    text-align: center;
    top: auto;
    transform: none;
    z-index: 5;
  }

  .main-nav-list li a {
    height: calc(100vh / 2 - #{$mq-s-header-height / 2});
  }

  .main-nav-list li:nth-of-type(1) a, 
  .main-nav-list li:nth-of-type(2) a {
    top: $mq-s-header-height;
  }

  .main-nav-list li:nth-of-type(3) a, 
  .main-nav-list li:nth-of-type(4) a {
    top: calc(100vh / 2 + #{$mq-s-header-height / 2});
  }

  button.menu {
    top: calc(#{$mq-s-header-height - 7rem} / 2)
  }

  button.menu i {
    font-size: 7rem;
  }
}


