@media only screen and (max-device-width : $mq-small){

  html {
    font-size: 100%;
  }

  header[role=banner] {
    height: $mq-s-header-height;
  }

  header[role=banner] .job-title {
    display: none;
  }
  
  button.menu {
    left: 2rem;
    top: 1rem;
  }

  button.menu i {
    font-size: 8rem;
    margin-top: 0.5rem;
  }

  h3 {
    font-size: 6rem;
    margin: 5rem 0;
  }

  .page-wrapper {
    overflow: hidden;
    width: 100vw;
  }

  .page {
    margin-bottom: 0;
    max-width: 100%;
    // min-height: calc(100vh - #{$mq-s-header-height});
    min-height: 100vh;
    padding-top: $mq-s-header-height;
    width: 100%;
  }

  .page > h2 {
    font-size: 6rem;
    margin-bottom: 0;
    background-clip: none;
    -webkit-background-clip: none;
    -moz-background-clip: none;
    background: $aqua;
    color: #FFF;
  }

  .col {
    float: none;
    margin: 0 3%;
    width: 94%;
  } 

  .container p, 
  .container li {
    font-size: 2rem;
  }

  .section-title .bubble {
    font-size: 2.4rem;
    padding: .5rem 1rem;
  }

  .section-title .bubble.icon {
    border-radius: 12px;
    height: auto;
    margin-right: 1rem;
    width: auto;
  }

  .section-title .bubble.icon .material-icons {
    font-size: 60px;
  }

  .section-title h4 {
    font-size: 3rem;
    display: block;
    margin: 1rem;
  }


// ====================== 
// experience
// ======================

  .experience .section-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .experience .section-title .time{
    display: flex;
    align-items: center;
  }

  .experience .section-title .company {
    display: block;
  }

  .experience .section-title .time.start {
    float: right;
  }

  .experience .section-title .time.end {
    float: left;
  }

  .experience .keyword,
  .link span,
  .photo-frame p  {
    font-size: $mq-s-font-size;
  }

  .bubble-wrapper {
    display: none;
  }

  .photo-frame,
  .image-container > div {
    width: 96%;
  }

  .image-container > div {
    padding-bottom: 60%;
  }

  .photo-frame {
    border: 1px solid $gray-80;
    padding: 1rem 1rem 108% 1rem;
  }

  .photo-frame p {
    margin: 1rem 0 0;
  }

  .portfolio .section-title h4 {
    align-items: center;
    display: flex;
  }
  
  .portfolio .section-title .bubble.icon {
    margin-right: 2rem;
  }

  .portfolio .image-container div {
    border-color: $text;
    border-radius: 1rem;
    margin-bottom: 3rem;
    overflow: hidden;
    position: relative;
  }

  .portfolio .image-container div p {
    border-radius: 0;
    bottom: 0;
    color: $white;
    font-size: 2.7rem;
    left: 0;
    margin: 0;
    opacity: 1;
    position: absolute;
    transform: scale(1, 1);
    transition: none;
    z-index: 5;
    background-color: rgba($gray-80, .8);
  }

// ====================== 
// contact
// ======================

  .contact .wrapper .col {
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
    left: auto;
    margin: 0 3%;
    padding: 4rem 1rem;
    position: static;
    text-align: left;
    top: auto;
    transform: none;
    z-index: 5;
  }

  .contact .wrapper .link {
    background: none;
    padding-left: 0;
  }

  .contact .col > p:first-of-type {
    background-image: url(../images/logo-linkedin.png);
    background-position-x: 1rem;
    background-repeat: no-repeat;
    background-size: 7rem;
    padding-top: 10rem;
  }

// ====================== 
// nav
// ======================

  .main-nav-list a{
    align-items: center;
    animation: none !important;
    background-color: $bg-color-1;
    color: $white;
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 100;
    height: calc((100vh - 12rem) / 4 );
    justify-content: flex-start;
    padding-left: 4rem;
    position: fixed;
    text-decoration: none;
    text-shadow: 0 0 0 transparent;
    transition: transform .5s;
    width: 100vw;
    z-index: 30; 
  }

  .main-nav-list a:focus, 
  .main-nav-list a:hover {
    color: #fff;
    font-size: 5rem;
    text-shadow: none;
  }

  [data-nav=show] .main-nav-list li:nth-of-type(even) a {
    transform: translate3d(0, 0, 0);
  }

  [data-nav=hide] .main-nav-list li:nth-of-type(odd) a {
    transform: translate3d(-100%, 0, 0);
  }

  [data-nav=hide] .main-nav-list li:nth-of-type(even) a {
    transform: translate3d(100%, 0, 0);
  }

  @for $i from 1 through 4 {
    .main-nav-list li:nth-of-type(#{$i}) a {
      border-bottom:2px solid rgba($red, .9);
      border-left: 0;
      border-right: 0;
      border-top: 0;
      top: calc(((100vh - #{$mq-s-header-height}) / 4) * (#{$i} - 1) + #{$mq-s-header-height});
    }
  }
}
